
<div class="profile_container">

<div class="side_column round">
  <%= render 'shared/user_info' %>
</div>

<div class="main_column general content round">
<div class="profileusername">
<h1>
<%= gravatar_for(@user)%>
<div class="user_name"><%= @user.name %></div>
</h1>
</div>
<div> <%= render 'shared/transport' %> </div>
<div class="profile_body">
<% if (signed_in?)  && ( is_user_page?)%>
        <%= render 'shared/micropost_form' %>
  </div>
<% end %>
	<% unless @user.microposts.empty? %>
        <div class="microposts" summary="User microposts">
          <%= render @microposts %>
        </div>
        <%= will_paginate @microposts %>
      <% end %>
</div>
</div>
</div>