<div style="float:right">
<div class="contentPad" style="text-align:center;">
<br><strong>Upload</strong> a<br>track to your <br><strong>project</strong><br><br>
<%= form_for ([@project, @micropost]), :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="postForm">
say something:<br><small>( required )</small><br>
    <%= f.text_area :content, :size=>"20" %>
<br>
upload audio:<br><small>( if you want to. )</small><br>
<%= f.file_field :file %>
<br><br>
<%= f.submit "Post to Project!" %>
</div>
<% end %>
<br>OR<div class="postForm"><h1><strong> <%= link_to "Record", "http://www.audiovisualsoul.com/tuneboatrecorder/TuneboatRecorder/TuneboatRecorder.swf"%></strong> </h1></div>a track to your Desktop.<br>
  
</div>
</div>