<div class="projectFormContainer">
<div class="contentPad">
<%= form_for ([current_user, @project]), :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
 <div class="field">Name:  
    <%= f.text_area :name, :size=>"20" %>
  </div>
   <div class="field">Description:    
    <%= f.text_area :description, :size=>"20" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</div>
</div>