<script type="text/javascript">
var audioID_<%= @micropost.id.to_s %> = "<%= @micropost.id.to_s %>";
</script>
<div class="micropost">
<div class="micropostPad">
<% if @micropost.file_url != nil %>
<div>
<%= audio_tag( @micropost.file_url.to_s, :autoplay => false, :preload => "auto", :controls => false, :id=> @micropost.id) %>
</div>
<div>
<%= link_to_function(image_tag("rw.png",:class=>"transControl", :height=>30, :width=>25), "rwThis(" + @micropost.id.to_s + ")")%>
<%= link_to_function(image_tag("play.png",:class=>"transControl", :height=>30, :width=>25), "playThis(" + @micropost.id.to_s + ")")%>
<%= link_to_function(image_tag("pause.png",:class=>"transControl", :height=>30, :width=>25), "pauseThis(" + @micropost.id.to_s + ")")%>
<%= link_to_function(image_tag("stop.png",:class=>"transControl", :height=>30, :width=>25), "stopThis(" + @micropost.id.to_s + ")")%>
<%= link_to_function(image_tag("ff.png",:class=>"transControl", :height=>30, :width=>25), "ffThis(" + @micropost.id.to_s + ")")%>
<div  class="trackVolume">
Volume
<input type="range" min="0.0" max="1.0" value="0.0" step="0.01" onchange="volumeThis(audioID_<%= @micropost.id.to_s %>,this.value);" />
</div>
<% else %>
<div class='inarow'><%= @micropost.user.name %> says:</div>
<% end %>
<div style="clear:both;">
<span class="inarow"><%= @micropost.content %></span>
    <span class="timestamp inarow" >
<small>&nbsp; Posted 
<%= time_ago_in_words(@micropost.created_at) %> ago.</small>
</span>
</div>
    <% if current_user?(@micropost.user) %>
  | <%= link_to "delete", @micropost, :method => :delete, :confirm => "You sure?",
                                :title => "Delete @micropost" %>
<% else%>
  <% end %>
  
  <% unless @micropost.comments.empty? %>
        <div class="comments" summary="Tracks">
        <% @comments = @micropost.comments.paginate(:page => params[:page], :per_page => 20)%>
          <%= render @comments %>
          <%= will_paginate @comments %>
        </div>
      <% end %>
  <% @commentMicropost = @micropost %>
<%= render 'shared/comment_form', :locals => {:micropost => @commentMicropost} %>
</div>

</div>