<footer class="round">
<div class="master "> 
<%= render 'shared/transport' %> 
<div class="footernav">
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><%= link_to "TuneDocs", 'http://audiovisualsoul.com/tuneboat/docs' %></li>
<li><%= link_to "Brainpit", 'http://audiovisualsoul.com/tuneboat/docs/brain' %></li>
</ul>
</nav>
</div>
</div>
</footer>